{% extends 'layout.html' %}




{% block main_page %}

<div class="wrapper">
    <div class="empty_block"></div>
    <div class="info">
        <div class="description">
            <p class="names">Разработка программ</p>

            <div class="desc">
                <ul class="checkmark">
                    <a href="{{ url_for('html_page') }}">
                        <li>Html</li>
                    </a>
                    <a href="{{ url_for('css_page') }}">
                        <li>Css</li>
                    </a>
                    <a href="{{ url_for('python_page') }}">
                        <li>Python</li>
                    </a>
                    <a href="{{ url_for('js_page') }}">
                        <li>Java Script</li>
                    </a>
                    <a href="{{ url_for('flask_page') }}">
                        <li>Flsk</li>
                    </a>
                    <a href="{{ url_for('django_page') }}">
                        <li>Gjango</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock main_page %}

