<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="wrapper">

        {% block menu %}
            <header class="header">

                <ul class="main_menu">
                    <li><a href="#"></a><p>Главная</p></li>
                    <li><a href="#"></a><p>Блог</p></li>
                    <li><a href="#"></a><p>Регистрация</p></li>
                    <li><a href="#"></a><p>Логин</p></li>
                    <li><a href="#"></a><p>Аккаунт</p></li>
                    <li><a href="#"></a><p>Создать</p></li>
                    <li><a href="#"></a><p>Выход</p></li>
                </ul>


            </header>
        {% endblock menu %}


        {% block content %}
        {% endblock content %}


        {% block main_page %}
            <div class="content">


            </div>
        {% endblock main_page %}


        {% block footer %}

            <footer class="footer">
                Все права защищены!<br>
                &#169; Киселев Денис 2026
            </footer>

        {% endblock footer %}

    </div>
</body>
</html>